    ul {
list-style-type: none;
margin: 2px;
padding: 2px;
width: 400px;
background-color: lightslategray;
}

li {
    display: inline;
}
li a {
    display: inline;
    color: white;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: lightblue;
}